/* src/components/ServicesIntro.css */
.services-intro {
  background-color: #E5DFFF;
}

.services-intro__content {
  padding: 0 1rem;
}

.services-intro__title {
  font-family: 'Great Vibes', cursive;
  font-size: 3rem;
  color: #5747A1;
  margin-bottom: 1rem;
}

.services-intro__text {
  font-size: 1rem;
  color: #343a40;
  
  margin-bottom: 1.5rem;
}

.services-intro__btn {
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  border-radius: 50px;
  font-family: 'Italianno-Regular', cursive;
}

.services-intro__image-col {
  padding: 0;
}

services-intro__carousel {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.services-intro__img {
  height: 300px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
